/* Reset basic styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Navbar styles */
nav {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 90%;  /* Final width after the animation */
    top: 5%;     /* 5% from the top of the screen */
    left: 50%;   /* Center the navbar horizontally */
    transform: translateX(-50%); /* Horizontal centering */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-radius: 15px; /* Rounded corners */
}


/* Logo styles */
nav .logo {
    margin-left: 20px;
}

nav .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

/* Menu styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Contact Card Styles */
nav ul li a.contact-card {
    background-color: #ff5722;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s, background-color 0.3s;
}

nav ul li a.contact-card:hover {
    background-color: #e64a19;
    transform: translateY(-5px);
}

/* Section Styles */
section {
    min-height: 100vh;  /* Each section takes up the full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#hero {
    background-color: #f44336;
    color: white;
}

#about-showcase {
    background-color: #2196F3;
    color: white;
}

#about {
    background-color: #4CAF50;
    color: white;
}

#showcase {
    background-color: #FFEB3B;
    color: black;
}

#projects {
    background-color: #9C27B0;
    color: white;
}
