/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.6;
    background-color: black; /* Set background color of body to black */
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    flex: 0 0 auto;
    position: relative;
    background: none;
}

/* General nav bar styles */
nav {
    position: fixed;
    top: -5%; /* Initially off the screen */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Centered horizontally */
    width: 3%; /* Initial small width */
    height: 40px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12vmax);
}


nav * {
    visibility: hidden;
    animation: showText 0s ease-out 2s forwards;
}

@keyframes slideDown {
    0% {
        top: -5%;
    }
    100% {
        top: 5%;
    }
}

@keyframes expandWidth {
    0% {
        width: 3%;
    }
    100% {
        width: 60%;
    }
}

@keyframes showText {
    100% {
        visibility: visible;
    }
}

/* Logo */
#logo {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}
.LowerCase {
    font-size: 0.8rem;
}
#logo:hover {
    color: rgb(255, 255, 255);
}

/* Navigation menu */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    flex: 0 0 auto;
}

footer p {
    margin: 0;
}

/* Main container takes up the remaining height */
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;	
}

.bento-container {
    width: 960px;
    height: 1440px;
    padding: 2em;
    display: flex;
    gap: 1em;
}

.col-left {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.col-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.row-col {
    flex: 0.5;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(12px); /* Glassy blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    border-radius: 20px; /* Rounded corners */
}

/* Specific flex values */
.tech {
    flex: 0.25;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(12px); /* Glassy blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    border-radius: 20px; /* Rounded corners */
}

.resume {
    flex: 0.5;
    display: flex;
    gap: 1em;
}

.contact {
    flex: 0.5;
    display: flex;
    gap: 1em;
}

.ui, .sandbox, .about, .project1, .project2, .projects {
    flex: 1;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(12px); /* Glassy blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    border-radius: 20px; /* Rounded corners */
}

/* Blob animations for background effects */
@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 22vmax;
    aspect-ratio: 2;
    position: fixed;
    left: 30%;
    top: 30%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -2;
}

#blob1 {
    background-color: white;
    height: 22vmax;
    aspect-ratio: 2;
    position: fixed;
    left: 70%;
    top: 70%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 22s infinite;
    opacity: 0.8;
    z-index: -2;
}

#blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(12vmax);
}
